<div class="container">
	
	<div id = "space" style = "height:30px;"></div>
	<h5 style = "line-height: 120%; color: #FFCC66;"><span style="color:#ffffff;">Creator:</span> 
		<br/>
		Jess Jiyoung Jung</h5>
		<h6>email_<a href = "mailto:imagest108@gmail.com">imagest108@gmail.com</a><br/>
			website_<a href= "http://jessjung.com/">jessjung.com</a>
		</h6>
	<h5 style = "line-height: 120%; color: #FFCC66;">
		Christina Carter</h5>
		<h6>email_<a href = "mailto:cvcarter@gmail.com">cvcarter@gmail.com</a><br/>
			website_<a href= "http://itschristinith.com/">itschristinith.com</a>
			</h6>
		<br/>

</div>	
<div id = "space" style = "height:80px;"></div>