<div id = "space" style = "height:20px;"></div>
	
<h5 style = "margin-left: 24px;">Chopsticking is in the 2013 World Maker Faire New York!</h5>
<a href = "http://makerfaire.com/"><img src = "/img/MFlogo.jpg" width = "360px" /></a>
<div id = "space" style = "height:20px;"></div>
<div id = "space" style = "height:30px; border-bottom: 1px solid #ffffff;"></div>
<div class="container">
	<div id = "space" style = "height:30px;"></div>
	<a href = '/learn'><div class = "mainbutton"><h4>Learn</h4><p style= "color:#663300; line-height:97%; margin-top: 20px">Learn how to hold <br/>chopsticks!</p> </div></a>
	<a href = '/play'><div class = "mainbutton"><h4>Play</h4><p style= "color:#663300; line-height:97%; margin-top: 20px">Play chopsticking<br/> at Maker Faire!</p> </div></a>
	<a href = '/about'><div class = "mainbutton"><h4>About</h4><p style= "color:#663300; line-height:97%; margin-top: 20px">Documentation<br/>for the project</p> </div></a>
	
	<div id = "space" style = "height:150px;"></div>
	<div id = "discription" style = "width:520px; margin-left: 94px;">
 	<h6 style = "line-height:120%; font-weight: normal;">CHOPSTICKING is a two player board game designed to test and improve one's chopsticking skills. While the sushi bowl spins, each player has 30 seconds to pick up as much sushi as possible while accurately holding the chopsticks.</h6><br/></div>
	<iframe src="//player.vimeo.com/video/55495229" width="480" height="270" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	<div id = "space" style = "height:40px;"></div>
	
	
</div>
<div style= "background-color: black; opacity: 0.6;">
</div>






