<audio></audio>

<div class="container">
<div class="sign">
	<!--
	<h5 style = "line-height: 120%; color: #FFCC66;"><span style="color:#ffffff;">Using the chopsticks only:</span> 
		<br/><br/>
		First, pick up a piece of sushi.<br/>
		Second, dip it in the soy sauce.<br/>
		Third, place it on your sushi plate.<br/>
		<br/>
		Pick up as many pieces of sushi <br/>as you can in 30 seconds!
	</h5>-->
	<h1></h1>
	<br/>
	
	
	<h3>
		Chopsticking play board is needed.<br/>
		When you are ready, <br/>
		push the <span style="background-color:#ff0000; color:#ffffff; padding:3px;">RED</span> button!<br/><br/>
		<img src = "/img/buttoninfo.png" width = "300px"/>
	</h3>
	<h4></h4>
</div>	
<div id = "space" style = "height:80px;"></div>


</div>
	


<script src = "/js/counter.js"></script>



